
* {
    font-family: 'Itim', cursive;
}

body {
    margin: 0;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: 'Itim', cursive;
}

h1 {
    font-size: 6rem;
    color: goldenrod;
    margin-block: 0.2em;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 1.5rem;
    
}

h4 {
    font-size: 1.5rem;
    margin-block: 0.5em;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    color: goldenrod;
    /* font-size: 21px; */
}

section {
/* background-color: green; */
}

header {
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
footer {
    height: 350px;
    background-color: honeydew;
    justify-content: space-between;
    padding: 30px 60px;
}


header nav a {
    padding: 10px 30px;
}
/* THIS IS A CLASS */
.button-link {
    background-color: goldenrod;
    color:whitesmoke;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px rgb(0 0 0/8%);
}
.home-article {
    /* border: 10px solid whitesmoke; */
    border-radius: 16px;
    background-color: whitesmoke;
    width: 200px;
    padding: 20px;
    margin: 20px;

}

.img-article {
    width: 60%;
}

.icon-feature {
    font-size: 3rem;
    color:goldenrod;
    margin: 10px;
}

.icon-social {
    margin: 5px;
}
.container {
    display: flex;
}

.author-image {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.author-container {
    align-items: center;
}

.feature-card {
    padding: 10px;
    min-width: 350px;
    max-width: 350px;
}

.contact-30 {
    width: 30%;
}

.contact-70 {
    width: 70%;
}

.fab {
    margin:20px;
}


/* THIS IS AN ID */
#hero {
    /* background-color: tomato; */
    background-image: url('../img/sole-bicycles-LPVMzMsO51o-unsplash.jpg');
    background-size: cover;
    text-align: center;
    /* height: 500px; */
    height: 100vh;
    width: 100vw;
    /* flex-settings */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#articles {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#features {
    flex-wrap: wrap;
    justify-content: center;
}

#contact {
    padding: 30px;


}




